@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-wrapper {
  /* padding: 0px 56px; */
}

.page {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
